@page "/kort"

@inject IDbContextFactory<NummerpladeApiContext> DbFactory

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
<div class="container-fluid">
    <div class="row p-3">
        <div class="col">
            @*<RadzenCard Class="mb-4">
                    <RadzenCheckBox @bind-Value=@showMadridMarker Name="showMarker" />
                    <RadzenLabel Text="Show marker for Madrid" Component="showMarker" Style="margin-left: 8px; vertical-align: middle;" />
                </RadzenCard>*@
            <RadzenGoogleMap @ref=map style="height: 700px" Options=@(new Dictionary<string, object> { { "disableDoubleClickZoom", true } })
                             Zoom=@zoom Center=@(new GoogleMapPosition() { Lat = 56.209797, Lng = 9.3001658 }) MapClick=@OnMapClick MarkerClick=@OnMarkerClick ApiKey="AIzaSyC-dGuEULtKnzH6GgtQW39ODjU7Wffrb1A">

                <Markers>

                    @* Loop through active spots *@
                    @foreach (var spot in db.Spottings.Where(e => e.ValidUntilDate > DateTime.Now))
                        {
                            var x = spot?.LocationX ?? 0;
                            var y = spot?.LocationY ?? 0;

                            // Marker
                        <RadzenGoogleMapMarker Style="color: white; font-weight: 700;" Title="@spot?.Nrplade" Label="@spot?.Nrplade" Position=@(new GoogleMapPosition() { Lat = x, Lng = y }) />
                    }

                </Markers>
            </RadzenGoogleMap>
        </div>
    </div>
</div>

@code {

    // Database
    public NummerpladeApiContext db;

    // On initialized
    protected override async Task OnInitializedAsync()
    {
        // Create db context and update
        db = await DbFactory.CreateDbContextAsync();
    }

    // Google maps
    int zoom = 7;
    bool showMadridMarker;
    RadzenGoogleMap map;

    void OnMapClick(GoogleMapClickEventArgs args)
    {
        // console.Log($"Map clicked at Lat: {args.Position.Lat}, Lng: {args.Position.Lng}");
    }

    async Task OnMarkerClick(RadzenGoogleMapMarker marker)
    {
        var message = $"Politibil spottet her med nr. plade: <b>{marker.Title}</b>";

        var code = $@"
var map = Radzen['{map.UniqueID}'].instance;
var marker = map.markers.find(m => m.title == '{marker.Title}');
if(window.infoWindow) {{window.infoWindow.close();}}
window.infoWindow = new google.maps.InfoWindow({{content: '{message}'}});
setTimeout(() => window.infoWindow.open(map, marker), 200);
";

        await JSRuntime.InvokeVoidAsync("eval", code);
    }
}
